.terminal {
  position: relative;
  width: 100%;
  height: 100%;

  .content {
    display: block;
    background: transparent;
    resize: none;
    width: 100%;
    height: 100%;
    padding: 10px;
    border: 0 none;
    box-sizing: border-box;
    margin: 0;
    overflow: hidden;
    color: $output-color;
    text-shadow: 0 0 2px $output-text-shadow;
    font-family: $output-font-family;
    font-size: inherit;
    animation: blur 5s linear infinite;
    line-height: $output-line-height;
    user-select: none;

    pre {
      display: inline;
    }

    a {
      color: $output-color;
      outline-color: $output-color;
      text-decoration: none;
      transition: color 666ms linear;

      &:hover {
        color: $color;
      }
    }

    .cursor {
      display: inline;
      width: 1px;
      height: $output-line-height;
      margin-left: 3px;
      line-height: $output-line-height;
      border-left: 2px solid $output-color;
      animation: beam 1.5s ease-out infinite;
    }
  }
}
