// base colors
$background-color: #1e1e1e;
$color: #fff;

// envelope
$envelope-margin: 2em;
$envelope-background: rgba(#1e1e1e, 0.25);

// interlace
$interlace-background: linear-gradient(#888 50%, #1e1e1e 50%);
$interlace-size: 4px;

// scanline
$scanline-height: 1em;
$scanline-speed: 3s;
$scanline-background: linear-gradient(
  to bottom,
  transparent 0%,
  rgba(255, 250, 250, 1) 50%,
  rgba(100, 255, 100, 1) 50%,
  transparent 100%
);

// font
$output-font-family: 'Hack';
$output-color: #18ff62;
$output-text-shadow: rgba(10, 255, 10, 0.8);
$output-line-height: 1.25;
$gradient-bottom: rgb(0, 30, 30);
$gradient-inner: rgb(0, 0, 0);

@mixin fontsize() {
  font-size: calc(3.75vmin - 4em);

  @media (orientation: landscape) {
    font-size: calc(2.75vmin - 4em);
  }

  @media (orientation: portrait) {
    font-size: calc(3.75vmin - 4em);
  }
}

// fill
@mixin fill($top: 0, $left: 0, $right: 0, $bottom: 0) {
  position: absolute;
  left: $left;
  top: $top;
  right: $right;
  bottom: $bottom;
}
